<div *ngIf="results" class="text-gray-800">
  <span *ngIf="results.previous">
    <a
      [routerLink]=""
      (click)="previous()"
      class="cursor-pointer font-black hover:text-orange-600"
      >
      &lt; prev
    </a>
  </span>
  <span *ngIf="!results.previous" class="faded">
    &lt; prev
  </span>
  <span class="px-2">
    |
  </span>
  <span *ngIf="results.next">
    <a
      [routerLink]=""
      (click)="next()"
      class="cursor-pointer font-black hover:text-orange-600"
      >
      next &gt;
    </a>
  </span>
  <span *ngIf="!results.next" class="faded">
    next &gt;
  </span>
</div>
