$resolution-blue: #2E4272;
$ship-cove-blue: #7887ab;
$ship-cove-blue-darker: #495466;
$cadet-blue: #669999;
$cadet-blue-half: #BBDDDD;
$light-steel-blue: #B5C3E4;
$tolopea: #13073A;
$white: #fff;
$light-yellow: rgb(189, 189, 185);

$warning-foreground-color: #721c24;
$warning-background-color: #f8d7da;
$warning-border-color: #f5c6cb;

$danger-foreground-color: $white;
$danger-background-color: #dc3545;

$primary: $resolution-blue;
$hamburger-layer-width: 18px;
$hamburger-layer-height: 2.6px;
$hamburger-layer-spacing: 2.6px;
$hamburger-layer-color: $light-steel-blue;
$hamburger-padding-x: 4px;
$hamburger-padding-y: 3px;
